/* Heading Color = #86C8BA 
    Body Color = #DBEFEB;
    Heading Text = White
    Body Text = dark gray
*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,100italic,300italic);
/******************** 
  GLOBAL STYLES 
********************/
body{
  background-color: #DBEFEB;
  color: #2F4F4F
}

a{
  text-decoration: none;
}

#wrapper{
  max-width: 940px;
  margin: 0 auto;
  padding: 2% 5%;
  background: #fff;
  border-radius: 25px;
}

*{
  font-family: 'Lato', sans-serif;
  font-weight: 100; 
}

img{
  max-width: 100%;
}
/******************** 
      HEADER
********************/

header{
  background: #86C8BA;
}

#logo{
  text-align: center;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #FFF;
  text-decoration: none;
}

#logo h1{
  font-size: 400%;
  font-weight: 300;
  padding-bottom: 0px;
}

#logo h2{
  font-weight: 100;
  padding-bottom: 5%;
  text-decoration: underline;
}

nav a, nav a:visited{
  color: #fff;
}

nav a:hover, a:active{
  text-decoration: underline;
}

nav {
  text-align: right;
  padding:0.5% 2% 0% 0%;
}

/******************** 
      PROJECTS
********************/
.projects{
  margin: 0;
  padding: 0;
}

.projects figure{
  float: left;
  width: 45%;
  margin: 2.5%;
}

/******************** 
      FOOTER
********************/

footer{
  font-size: 0.75em;
  text-align: center;
  padding-top: 50px;
  position: relative;
  margin-top: -180px;
  height: 180px;
  clear: both;
}